body {
    background: url(forside_2_trykklar.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 65%;
    text-align: center;
    font-family: Garamond;
font-style:normal;
font-size: 25px; 
margin-left: 10%;
margin-right: 10%;
padding: 34px;
color: white; 
}


#distSelect {
    font-size: 25px; 
    margin-left: 75%;
    
    padding: 34px;
    color: white; 
    width: 30%;
	margin-top: 20px;
	background-color: rgba(0, 0, 0, 0.6);
	border: none;
    border-radius: 50px;
    font-family:Garamond;
  
}

#locSelect {
    font-size: 25px; 
    margin-left: 75%;
    padding: 34px;
    color:white; 
    width: 30%;
	background-color: rgba(0, 0, 0, 0.6);
	border: none;
    border-radius: 50px;
    font-family:Garamond;
      
}
  p     {
   
	margin-left: 80%; 
	font-family:Garamond;
    text-align: center; 
    font-weight: normal;
    color:  black; 
   
}

#buttonClick {
   font-size: 25px; 
   margin-left: 80%;
   padding: 34px;
   color:white; 
   width: 18%;
   margin-top: 15px;
   background-color: rgba(0, 0, 0, 0.6);
   border: none;
   border-radius: 25px;
   font-family:Garamond;
}

#demo  {
    font-size: 25px; 
    color:black; 
    margin-left: 75%;
    font-family:Garamond;
 }

#nextClick  {
    font-size: 20px; 
    margin-left: 72%;
    padding: 34px;
    color:black; 
    width: 40%;
    margin-top: 15px;
    background-color: rgba(32, 165, 49, 0.582);
    border: none;
    border-radius: 20px;
    font-family:Garamond;
 
 }

    
 #signoffbtn {
        
    font-size: 17px; 
    margin-left: 85%;
    padding: 25px;
    color: white; 
    width: 10%;
    margin-top: 15px;
    background-color: black;
    border: none;
    border-radius: 30px;
    font-family:Garamond;
 }
