body {
    background: url(occg-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    color: white;

}

#head {
    font-size: 25px;
    margin-left: 28%;
    padding: 25px;
    color: white;
    width: 40%;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid 2 B2A2A;
    border-radius: 25px;
    font-family: Garamond;

}

p {
    font-family: Garamond;
    text-align: center;
    color: white;
    font-size: 25px;

}

h1 {
    font-family: Garamond;
    text-align: center;
    color: white;
    font-size: 35px;

}

h2 {
    font-family: Garamond;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: normal;
}

h3 {
    font-family: Garamond;
    text-align: center;
    color: white;
    font-size: 33px;
    font-weight: normal;
}

#cancelbtn, #loginbtn {

    font-size: 20px;
    margin-left: 6%;
    padding: 20px;
    color: white;
    width: 30%;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid 2 B2A2A;
    border-radius: 25px;
    font-family: Garamond;

}
